
h2 {
    font-family: sans-serif;
    font-family: var(--sans-serif-font);
    font-size: 22px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
}