:root {
  --font-size-menu: 22px;
  --font-size: 18px;
  --font-size-footer: 14px;
  --serif-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --sans-serif-font: 'Trebuchet MS', Calibri, sans-serif;
}

html {
  margin-left: calc(100vw - 100%);
}

header nav a {
  color: var(--link-color-menu);
  font-size: var(--font-size-menu);
  font-family: sans-serif;
  font-family: var(--sans-serif-font);
}

header nav img {
  height: 0.8em;
}

body {
  --background-color: #f0f0f0;
  --link-color: #0077aa;
  --link-color-menu: #454545;
  --link-hover-color: #c0392b;
  --font-color: #454545;
  --border-color: gray;
  --date-color: gray;
}

body.dark-mode {
  --background-color: #454545;
  --link-color: #64aac8;
  --link-color-menu: #d9d9d9;
  --link-hover-color: #c36f66;
  --font-color: #d9d9d9;
  --border-color: gray;
  --date-color: gray;
}

body {
  font-family: serif;
  font-family: var(--serif-font);
  font-size: var(--font-size);
  color: var(--font-color);
  background: var(--background-color);
}

body a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}

body a:hover {
  color: var(--link-hover-color);
}

body p {
  text-align: left;
  line-height: 135%;
}

footer {
  font-size: var(--font-size-footer);
  text-align: center;
  border-top: 1px solid var(--border-color);
}

footer p {
  opacity: 0.7;
  text-align: center;
}

@media screen and (max-width: 620px) {
  #dark-mode-toggle {
    position: absolute;
  }
}

@media screen and (min-width: 620px) {
  #dark-mode-toggle {
    position: fixed;
  }
}

@media print {
  #dark-mode-toggle {
    display: none;
  }

  header {
    display: none;
  }
}

#dark-mode-toggle {
  top: 10px;
  right: 15px;
  width: 100px;
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  body {
      width: 600px;
      margin: 0 auto;
  }

  header {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px;
  }

  nav a {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 620px) {
  body {
      width: 90%;
      margin: 0 auto;
  }

  header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

  nav a {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
  }

  main img {
      width: 100%;
      max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  body {
      width: 90%;
      margin: 0 auto;
  }

  header {
      width: 100%;
      margin-bottom: 5px;
  }

  nav a {
      text-align: center;
      display: block;
      margin-top: 10px;
      margin-bottom: 4px;
  }

  main img {
      width: 100%;
      max-width: 600px;
  }
}