:root {
    --link-color: blue;
    --link-color-menu: black;
    --link-hover-color: red;
    --font-size-menu: 22px;
    --font-size: 18px;
    --border-color: gray;
    --date-color: gray;
}

html {
    margin-left: calc(100vw - 100%);
}

body nav a {
    color: var(--link-color-menu);
    font-size: var(--font-size-menu);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-size);
}

body a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color);
}

body a:hover {
    color: var(--link-hover-color);
}

body p {
    text-align: justify;
    text-indent: 30px;
    line-height: 135%;
}

article.article-short {
    border-bottom: 1px solid var(--border-color);
}

.short-articles article:first-child {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

article.article-short h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 22px;
}

article p {
    margin-top: 5px;
}

article.article-long h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

article.article-long h4 {
    margin-bottom: 5px;
}

article.article-long ul {
    margin-top: 5px;
}

.article-short-date, .article-long-date {
    font-style: italic;
    color: var(--date-color);
}

.highlighted-letter {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }

    header {
        min-height: 50px;
    }

    nav {
        text-align: center;
        margin-bottom: 10px;
    }

    nav a {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    body {
        width: 90%;
        margin: 0 auto;
    }

    nav {
        text-align: center;
        margin-bottom: 10px;
    }

    nav a {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }

    main img {
        width: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 90%;
        margin: 0 auto;
    }

    nav {
        width: 100%;
        margin-bottom: 5px;
    }

    nav a {
        text-align: center;
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    main img {
        width: 100%;
        max-width: 600px;
    }
}