:root {
    --font-color: #454545;
    --link-color: #0077aa;
    --link-color-hover: #c0392b;
    --font-size: 18px;
  }

html {
    margin-left: calc(100vw - 100%);
}

@media screen and (max-width: 700px) {
    body {
        width: 90%;
        padding: 10px;
    }
}

@media screen and (min-width: 700px) {
    body {
        width: 700px;
    }
}

body {
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--font-size);
    color: var(--font-color);
}

article {
    text-align: justify;
    line-height: 140%;
    padding-bottom: 10px;
    border-bottom: 2px ridge var(--font-color);
}

article h1 {
    text-align: left;
    margin-bottom: 0;
}

article a {
    font-weight: bold;
    color: var(--font-color);
}

article a:hover {
    color: var(--link-color-hover);
}

.tech-table td {
    padding-left: 15px;
}

.collapsible-heading {
    cursor: pointer;
}

.collapsible-heading.active::after {
    content: " ↓";
}

.collapsible-heading:not(.active)::after {
    content: " 🡒";
}

.thesis-detail {
    display: none;
    overflow: hidden;
}

.just-ideas {
    opacity: 0.7;
}